* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 150px;
    line-height: 1.5;
    background-color:#FFB6C1;
    margin: 0;
    padding: 20px 40px;
  
    /* This will center anything on your page */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  #clock {
    display: flex;
    gap: 20px;
    padding: 20px 30px;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
  }

  #moon {
transform: translate(-500px, -250px);
color: white;
  }

